* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border: 1px solid rgb(201, 201, 201);
}
.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}
.header_top {
    background-color: rgb(206, 206, 206);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

}
.header_top .container {
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}
.header_second{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header_second .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.logo img {
    width: 2rem;
}
.header_secondright{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}
.header_secondright a {
    text-decoration: none;
    color: rgb(182, 176, 176);
}

#menubutton {
    background-color: transparent;
    border: none;
    color: rgb(94, 96, 94);
}
.language_select {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header_top .container {
        justify-content: space-between;
       
    }
    .language_select {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

    }
    .language_select img {
        width: 1rem;
    }
  }

@media only screen and (min-width: 992px) {
    #menubutton {
        display: none;
    }
  }
  